@model MyBlog.Domain.Models.BlogGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topics)
        </dt>

        @foreach(var item in Model.Topics)
        {
            <dd>@item.TopicName</dd>
        }



        @*<dt>
            @Html.DisplayNameFor(model => model.User_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Id)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditBlogGroup", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
